<%- include('header.ejs') %>
<h1>Consents</h1>
<form>
    <table id="featureConsentsTable">
        <thead>
            <tr>
                <td colspan="3">General Info</td>
            </tr>
            <tr>
                <td>Feature</td>
                <td>Since</td>
                <td>Granted</td>
            </tr>
        </thead>
    </table>
    <table id="campaignConsentsTable">
        <thead>
        <tr>
            <td colspan="4">Campaigns</td>
        </tr>
        <tr>
            <td>Consent</td>
            <td>Start</td>
            <td>End</td>
            <td>Granted</td>
        </tr>
        </thead>
    </table>
</form>
<script>
    consents()
</script>
<%- include('footer.ejs') %>