<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>CleanInsights Example</title>

        <style>
            table {
                width: 100%;
                max-width: 50em;

                margin-top: 2em;
                margin-bottom: 2em;
            }
            thead {
                font-weight: bold;
            }
            thead tr {
                background-color: lightgray;
            }
            tbody tr:nth-child(odd) {
                background-color: lavender;
            }

            .consent {
                margin: 1ex 0;
                padding: 1ex;
                border: 1px solid lightskyblue;
                background-color: lightblue;
            }
            .consent h1 {
                font-size: 1.25em;
            }
        </style>

        <script src="main.js"></script>

    </head>
    <body>